.paper {
  background-color: antiquewhite;
}
.paperIcon {
  position: relative;
  padding-top: 40px;
  padding-left: 30px;
  color: red;
  width: 100px;
  height: 40px;
}
.paperName {
  position: absolute;
  padding: 35px;
}
